@font-face {
    font-family: 'SF Pro Display';
    src        : url('/assets/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYBOLD.OTF');
    font-weight: bold;
}
@font-face {
    font-family: 'SF Pro Display';
    src        : url('/assets/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYMEDIUM.OTF');
    font-weight: medium;
}
@font-face {
    font-family: 'SF Pro Display';
    src        : url('/assets/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF');
    font-weight: normal;
}