/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/

/* @import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap'); */

/* colors */
:root {
  --dark    : #242424;
  --white   : #fff;
  --light   : #FFFFFFB2;
  --gray500 : #677489;
  --gray900 : #2A2A2A;
  --primary : #6E0699;
  --mauve700: #B00DF6;
}

:root {
  /* --ion-font-family: 'SF Pro Display', sans-serif; */

  /** primary **/
  --ion-color-primary             : #6E0699;
  --ion-color-primary-rgb         : 176, 13, 246;
  --ion-color-primary-contrast    : #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade       : #6E069985;
  --ion-color-primary-tint        : #6E0699c1;

  /** secondary **/
  --ion-color-secondary             : #F9ECFE;
  --ion-color-secondary-rgb         : 137, 137, 137;
  --ion-color-secondary-contrast    : #6E0699;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade       : #F9ECFE;
  --ion-color-secondary-tint        : #F9ECFE;

  /** tertiary **/
  --ion-color-tertiary             : #343434;
  --ion-color-tertiary-rgb         : 82, 96, 255;
  --ion-color-tertiary-contrast    : #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade       : #34343499;
  --ion-color-tertiary-tint        : #34343455;

  /** success **/
  --ion-color-success             : #2dd36f;
  --ion-color-success-rgb         : 45, 211, 111;
  --ion-color-success-contrast    : #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade       : #28ba62;
  --ion-color-success-tint        : #42d77d;

  /** warning **/
  --ion-color-warning             : #ffc409;
  --ion-color-warning-rgb         : 255, 196, 9;
  --ion-color-warning-contrast    : #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade       : #e0ac08;
  --ion-color-warning-tint        : #ffca22;

  /** danger **/
  --ion-color-danger             : #eb445a;
  --ion-color-danger-rgb         : 235, 68, 90;
  --ion-color-danger-contrast    : #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade       : #cf3c4f;
  --ion-color-danger-tint        : #ed576b;

  /** dark **/
  --ion-color-dark             : #1E1E1E;
  --ion-color-dark-rgb         : 34, 36, 40;
  --ion-color-dark-contrast    : #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade       : #1e2023;
  --ion-color-dark-tint        : #383a3e;

  /** medium **/
  --ion-color-medium             : #92949c;
  --ion-color-medium-rgb         : 146, 148, 156;
  --ion-color-medium-contrast    : #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade       : #808289;
  --ion-color-medium-tint        : #9d9fa6;

  /** light **/
  --ion-color-light             : #858585;
  --ion-color-light-rgb         : 145, 145, 145;
  --ion-color-light-contrast    : #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade       : #d7d8da;
  --ion-color-light-tint        : #f5f6f9;

}

.ion-color-white {
  --ion-color-base        : white;
  --ion-color-base-rgb    : 255, 255, 255;
  --ion-color-contrast    : var(--ion-color-dark);
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade       : #d7d8da;
  --ion-color-tint        : #f5f6f9;
}

.ion-color-lightblue {
  --ion-color-base        : #F9ECFE;
  --ion-color-base-rgb    : 255, 255, 255;
  --ion-color-contrast    : var(--ion-color-primary);
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade       : #F9ECFEee;
  --ion-color-tint        : #F9ECFE;
}
.ion-color-mauve700 {
  --ion-color-base        : var(--mauve700);
  --ion-color-base-rgb    : 255, 255, 255;
  --ion-color-contrast    : white;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade       : var(--mauve700);
  --ion-color-tint        : var(--mauve700);
}

.checkbox-rounded {
  /* checkbox */
  --checkbox-background        : transparent;
  --checkbox-background-checked: transparent;
  --border-color-checked       : #3880ff;
  --checkmark-color            : #3880ff;
  --border-radius              : 50px;
  --size                       : 20px;
  box-sizing                   : content-box;
}

/* light */
:is(.md, .ios) body {
  --ion-background-color    : white;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color    : black;
  --ion-text-color-rgb: 0, 0, 0;

  /* --ion-border-color: #222222; */

  /* --ion-color-step-50 : #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3; */

  --ion-item-background: #fff;
  --ion-item-color     : black;

  --ion-toolbar-background: white;
  --ion-toolbar-color     : black;

  --ion-tab-bar-background: #010101;

  --ion-card-background: #1e1e1e;
}


.tag-selection ion-segment-button:is(.md, .ios) {
  --background                  : #00000005;
  --background-checked          : var(--ion-color-primary);
  --background-hover            : var(--color-checked);
  --background-focused          : var(--color-checked);
  --background-activated-opacity: 0;
  --background-focused-opacity  : .12;
  --background-hover-opacity    : .04;
  --color                       : rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.6);
  --color-checked               : var(--ion-color-primary, #3880ff);
  --indicator-box-shadow        : none;
  --indicator-color             : var(--color-checked);
  --indicator-height            : 0px;
  --indicator-transition        : transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --indicator-transform         : none;
  --padding-top                 : 3px;
  --padding-end                 : 15px;
  --padding-bottom              : 3px;
  --padding-start               : 15px;
  --transition                  : color 0.15s linear 0s, opacity 0.15s linear 0s;

  /* --color        : #08a391; */
  --color        : #5c5b5b;
  --color-checked: #fff;
  --border-radius: 50px;
  border         : 1px solid #89898955;
  margin         : 5px;
  min-height     : auto;
  min-width      : auto;
  overflow       : hidden;
}

.ion-toolbar-white {
  --ion-background-color    : white;
  --ion-toolbar-background  : white;
  --ion-toolbar-border-color: white;
}

ion-item {
  --inner-border-width: 0 0 0px 0;
}

ion-button {
  --border-radius : 12px;
  --padding-top   : 15px;
  --padding-bottom: 15px;
  --padding-start : 1.1em;
  --padding-end   : 1.1em;
  --transition    : box-shadow 280ms cubic-bezier(.4, 0, .2, 1), background-color 15ms linear, color 15ms linear;
  --box-shadow    : 0;
  margin-inline   : 2px;
  margin-top      : 4px;
  margin-bottom   : 4px;
  height          : auto;
  font-size       : auto;
  font-weight     : 500;
  letter-spacing  : 0.06em;
  text-transform  : capitalize;
}

ion-input,ion-textarea {
  /* --background     : var(--ion-background-color, #fff); */
  /* --color          : var(--ion-text-color, #000); */
  --padding-top       : 0px;
  --padding-bottom    : 0px;
  --padding-start     : 10px !important;
  --padding-end       : 10px !important;
  --keyboard-offset   : 0px;
  --offset-top        : 0px;
  --offset-bottom     : 0px;
  border              : 1px solid gainsboro;
  border-radius       : 10px;
  /* --overflow       : auto; */
  /* font-family      : var(--ion-font-family, ); */
}

ion-select {
  --padding-top        : 0px;
  --padding-bottom     : 0px;
  --padding-start      : 10px !important;
  --padding-end        : 10px !important;
  --placeholder-color  : currentColor;
  --placeholder-opacity: 0.6;
  --background         : transparent;
  --border-style       : solid;
  display              : block;
  border               : 1px solid gainsboro;
  border-radius        : 10px;
}